
/** added for UoE */
body, select, input, textarea   { color: #555; line-height: 18px; font-family: Baskerville, "Times New Roman", Times, serif; }
.footer ul
    {
    margin-top: 10px;
    list-style-type: none;
}

.footer a{
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover{
    color: #eeeeee;
    text-decoration: underline;
}

.footer .nav { display: inline-block; }

.footer .nav a:hover{
    color: #313131;
    background-color: #eeeeee;
}

.footer {
    padding: 0 15px 15px 15px;
}

.footer-margin {
    height: 10px;
}

.results-item {
    margin-bottom: 25px;
}

.alltags{
    width:100%;
}
.tags                   { margin-top: 5px; margin: 0;}
.tags a                 { font-size: 13px; color: #fff;background: #EB0955; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 2px 6px; line-height: 20px; margin-right: 8px; text-decoration: none;  }
.tags a.bold            { font-weight: bold; }
.tags a:hover           { background: #093563; color: #ffffff; }
.tags a.maker           { display:inline-block; line-height: 15px; margin-bottom: 5px; }

.result-info > .nav > li > span > i {
    margin-top: 2px;
    padding: 2px;
    color: #dddddd;
}

.result-info > .nav > li > a{
    margin-top: 2px;
    padding: 2px;
    text-align: center;
}

.result-info > .nav > li > a:hover {
    background-color: #9FAB97;
    color: #eeeeee;
    text-decoration: none;
}

.col-xs-8 .record-title {
    font-size: 15px;
}

.items-link {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.list-group-item.active a, .list-group-item.active:focus a, .list-group-item.active:hover a {
    color: #FFF;
}

.list-group-item a {
    word-wrap: break-word;
}

.list-group-item.active {
    background-color: #9FAB97;
    border-color: #9FAB97;
}

.list-group-item.active:hover {
    background-color: #98767E;
    color: #eeeeee;
    border-color: #9FAB97;
}

.list-group-item.active:hover a{
    color: #eeeeee;
}

.list-group-item.hover a{
    color: #98767E;
}

a:focus, a:hover {
    color: #98767E;
    text-decoration: underline;
}

.main-image {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.resized-image {
    text-align: center;
    width: 100%;
}

img.record-main-image-portrait {
    max-height:450px;
}

img.record-main-image-landscape {
    width: 100%px;
}

div.resized-image img.record-main-image {
   height: 400px;
   width: 100%;
}

div.image-canvas{
    height:500px;
    width:768px;
}

div.resized-image-canvas{
    height:339px;
    width:339px;
}

div.related {
    margin-top: 20px;
}

.related-title
{
    background-color: #333333;
    color: #ffffff;
    padding: 2px;
}

.page-header {
    margin: 0 0 10px;
}

.wide {
    width: 100%;
}
.wide a{
    color: #ffffff;
}

.wide a:hover{
    color: #9FAB97;
    background-color: #eeeeee;
}

.content{
    margin-top: 10px;
}

.bg-primary {
    background-color: #9FAB97;
}

.btn-primary {
    background-color: #9FAB97;
    border-color: #eeeeee;
}

.btn-primary:hover {
    background-color: #eeeeee;
    color: #9FAB97;
    border-color: #eeeeee;
}
.text-primary {
    color: #9FAB97;
}

a {
    color: #9FAB97;
}

.pagination > .active > span {
    background-color: #9FAB97;
    color: #ffffff;
    border-color: #ffffff;
}


.pagination > .active > span.hover {
    background-color: #98767E;
    color: #ffffff;
    border-color: #ffffff;
}

.pagination > li > a {
    color: #9FAB97;
}

.record-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedback_form {
    margin-bottom: -50px;
}

.feedback_form h1 {
    font-size: 18px;
    color: #9FAB97;
}

.feedback_form label {
    display: block;
    width: 100px;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

.feedback_form input[type="text"] {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    height: 28px;
    padding: 0 10px;
    width: 100%;
   width: 500px;
}

#feedback {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    padding: 0 10px;
    width: 100%;
   width: 500px;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

input.btn {
    background: #9FAB97 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin-left: 8px;
    padding: 0 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

div.spacer {
    height: 20px;
}

.related-image {
    width: 100%;
    text-align: center;
}

.related-xs {
   width: 100%;
}

.tab-content dl {
    padding-top: 5px;
}

.tab-content dl dd {
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.tab-content dd:last-child {
    padding-bottom: 0;
    border: none;
}

.nav > li > i.fa-inactive {
    display: block;
    padding: 15px 15px;
    position: relative;
    color: #dddddd;
}

.record-tabs > ul > li > a > i.fa-inactive {
    color: #dddddd;
}
.record-tabs > ul > li > a.inactive {
    color: #dddddd;
}


.tags > li.active > a,
.tags > li.active > a:focus,
.tags > li.active > a:hover{
    position: relative;
    display: block;
    padding: 5px 5px;
    background: #eeeeee;
    color: #9FAB97;
}

.tags > li.active > a:hover {
    background: #9FAB97;
    color: #ffffff;
}

@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}

.record_bitstreams
{
    padding-top: 2px;
}

/* ---- grid for related items---- */

.grid {
    background: #ffffff;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 150px;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
   width: 100%;
}

.thumbnail {
    border:0;
}

.navbar {
    height: 80px;
}

.navbar-header {
    height: 80px;
}


.navbar-brand {
    font-weight: 200;
   height: 100px;
}

.uoe_logo
{
    width: 208px;
    height: 50px;
}

/**index page **/

.gallery-link
{
    border: 1px solid #cdcdcd;
    margin: 10px;
    padding: 10px;
}

.gallery-title
{
    font-size: 18px;
}

p.trigger{
    margin-bottom:7px;
    margin-top:-5px;
}

.toggle_container{
    margin-bottom:10px;
}

.toggle_container p{
    margin:0px;
}

.toggle_container{
    clear: both;
    font-size:100%;
}

#gallery-tile1 { background: url(../images/March.jpg) no-repeat 0 0; width: 300px;height: 250px; display: block; }
#gallery-tile2 { background: url(../images/March.jpg) no-repeat 0 0; width: 300px;height: 250px; display: block; }
#gallery-tile3 { background: url(../images/March.jpg) no-repeat 0 0; width: 300px;height: 250px; display: block; }
#gallery-tile4 { background: url(../images/March.jpg) no-repeat 0 0; width: 300px;height: 250px; display: block; }



