/*  
Site Name: ---
Site URI: ---
Description: ---
Version: 1.0

UPDATE INFO ---------------------------------------

Revision number: 1.0
Last updated: 
Last update made by: Adam Wright (@rike) for big-backyard.co.nz

CONVENTIONS ---------------------------------------

hyphenate class / id names - #my-id-name, .my-class-name
class / id names to start with lower case letter (ID's reserved for .net use will start with Upper case letter)

CREDITS -------------------------------------------
this file adapted from the fantastic resources at http://html5boilerplate.com/
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
other relevant credits have been left inline
*/


.topbar-inner {
    padding-top: 10px;
}

.form-inline input[type="text"] {
    width: 60%;
}

.form-inline > * {
    margin:5px 3px;
}

.advanced {
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.advanced:hover {
    text-decoration: underline;
}

.form-control {
    padding-left: 30px;
}

.glyphicon-search {
    margin-right: -30px;
}

.alignsearch{
    padding-left: 30px;
    padding-bottom: 22px;
}

.alignlogo {
    padding-left: 0;
    padding-top: 10px;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}

.col-sidebar {
    background-color: red;
    margin-top: -66px;
}

a.uoe:hover {
    text-decoration: none;
}

.logo {
    display: block;
    width: 240px;
    height: 104px;
    background: url(../images/ApolloBirds.jpg)
    no-repeat 0px 0px;
}

.col-main {
    padding-top: 5px;
}

.col-sidebar		{ float: left; width: 240px; background: #BFBFBF; position: relative; z-index: 2; padding: 0; }
.ie7 .col-sidebar	{ padding-bottom: 30px; }

.col-sidebar h4	{
    color: #fff;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 17px;
    background: #00315f;
    margin-top: 0px;
}
.col-sidebar h4 a 					{
    background: #00315f url(../images/bg-arrows.png) no-repeat 100% -92px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
}
.col-sidebar h4 a:hover {
    background: #2A6496 url(../images/bg-arrows.png) no-repeat 100% -92px;
}

.col-sidebar ul {
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: 17px;
    font-size: 12px;
}

.col-sidebar ul li 					{ line-height: 16px; }
.col-sidebar ul a 					{ text-decoration: none; display: block; padding: 0; }
.col-sidebar ul a:hover				{ text-decoration: underline; }

.col-sidebar ul.selected					{ background: #ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 7px 9px; margin: 0 17px 4px 17px; }
.col-sidebar ul.selected li 				{ position: relative; }
.col-sidebar ul.selected a					{ color: #333; padding: 0; }
.col-sidebar ul.selected a:hover			{ background: none; }
.col-sidebar ul.selected a.deselect			{ display: block; width: 13px; height: 13px; background: url(../images/bg-deselect.png) no-repeat 0px 0px; text-indent: -9999px; position: absolute; top: 0; right: 0; }
.col-sidebar ul.selected a.deselect:hover	{ background-position: 0px -15px; }

.col-sidebar ul.related li 					{ padding: 0 17px 0 46px; position: relative; margin-bottom: 18px; zoom: 1; }
.col-sidebar ul.related li a 				{ padding: 0; }
.col-sidebar ul.related li a:hover			{ background: none; text-decoration: underline; }
.col-sidebar ul.related .tags				{ margin: 4px 0 0 0; }
.col-sidebar ul.related .tags a 			{ padding: 2px 5px; display: inline; background: #ffffff; }
.col-sidebar ul.related .tags a:hover		{ text-decoration: none; background: #00315f; }

.listing 							{ list-style-type: none; margin: 0; }
.listing li 						{ padding: 10px 0 10px 24px; border-left: 54px solid #BFBFBF; position: relative; }
.listing li.first					{ padding-top: 30px; }
.listing li.last					{ padding-bottom: 30px; }
.listing li a 						{ text-decoration: none; }
.listing li a:hover					{ text-decoration: underline; }

.listing li h3 						{ margin-bottom: 8px; }
.listing li .tags					{ margin: 0 0 8px 0; }
.listing li .tags a 				{ font-size: 12px; }
.listing li .tags a:hover			{ text-decoration: none; }
.listing li p 						{ font-size: 12px; margin: 0; }

.listing-filter						{ padding: 0; border: none; border-bottom: 1px solid #b8baba; line-height: 33px; text-align: right; position: relative; }
.listing-filter .no-results			{ position: absolute; top: 0; left: 0; }
.ie7 .listing-filter .no-results	{ top: -10px; }
.listing-filter .sort				{ font-size: 10px; text-transform: uppercase; color: #666; padding-right: 10px; }
.listing-filter .sort a 			{ text-decoration: none; }
.listing-filter .sort a:hover		{ text-decoration: underline; }
.listing-filter .sort strong		{ color: #333; }
.listing-filter .sort em			{ padding-left: 10px; font-style: normal; }

.pagination							{ border-bottom: 1px solid #b8baba; border-top: 1px solid #b8baba; line-height: 33px; text-align: center; position: relative; font-size: 11px; font-weight: bold; }
.pagination a 						{ color: #666; text-decoration: none; display: inline-block; padding: 0 5px; }
.pagination a.selected 				{ background: #e8e8e8; color: #333; }
.pagination a:hover					{ color: #333; text-decoration: underline; }
.pagination .prev,
.pagination .next					{ display: block; position: absolute; top: 0; font-size: 11px; background: url(../images/bg-arrows.png) no-repeat 0px 0px; }
.pagination .prev					{ left: 0; padding: 0 10px 0 25px; }
.pagination .next					{ right: 0; padding: 0 25px 0 10px; background-position: 100% -33px !important; }
.pagination .prev:hover,
.pagination .next:hover 			{ background: #def5fb url(../images/bg-arrows.png) no-repeat; }


h1, h2, h3, h4, h5, h6          { text-rendering: optimizeLegibility; color: #000000; font-weight: bold; }
h1 								{ font-size: 18px; line-height: 24px; margin: 30px 0 17px 0px; position: relative; }
h2 								{ font-size: 16px; line-height: 36px; margin: 0 0 0 0; }
h3 								{ font-size: 14px; line-height: 18px; margin: 0 0 9px 0; }

h1.itemtitle 					{ font-size: 18px; line-height: 24px; margin: 30px 0 17px 54px; position: relative; }

footer 								{ margin-top: 40px; text-align: center; }
footer a 							{ font-size: 10px; text-transform: uppercase; color: #bfbfbf; text-decoration: none; font-weight: bold; border-right: 1px solid #cecece; padding-right: 9px; margin-right: 5px; }
footer a.last						{ border: none; }
footer a:hover						{ color: #00315f; text-decoration: underline;}