
/** added for UoE */
.footer ul
    {
    margin-top: 10px;
    list-style-type: none;
}

.footer a{
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover{
    color: #eeeeee;
    text-decoration: underline;
}

.footer .nav { display: inline-block; }

.footer .nav a:hover{
    color: #9FAB97;
    background-color: #eeeeee;
}

.footer {
    padding: 0 15px 15px 15px;
}

.footer-margin {
    height: 10px;
}

.results-item {
    margin-bottom: 25px;
}

.result-info > .nav > li > span > i {
    margin-top: 2px;
    padding: 2px;
    color: #dddddd;
}

.result-info > .nav > li > a{
    margin-top: 2px;
    padding: 2px;
    text-align: center;
}


.result-info > .nav > li > a:hover {
    background-color: #9FAB97;
    color: #eeeeee;
    text-decoration: none;
}

.uoelogo  { display: block;
    width: 40px;
    height: 38px;
    float: left;
    background: url(../images/UoETransparent.png) no-repeat 0 0;
    margin-top: -5px;
}

.uoename  { display: block;
    width: 235px;
    height: 24px;
    float: left;
    background: url(../images/uoenamesml.png) no-repeat 0 0;
    margin-left: 3px;
}

.navbar-brand {
    font-weight: 200;
}

.header-xs {
    padding-right: 0;
}
.header-xs a.navbar-brand {
    padding: 15px 0;
}

.col-xs-8 .record-title {
    font-size: 15px;
}

.items-link {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.list-group-item.active a, .list-group-item.active:focus a, .list-group-item.active:hover a {
    color: #FFF;
}

.list-group-item a {
    word-wrap: break-word;
}

.list-group-item.active {
    background-color: #9FAB97;
    border-color: #9FAB97;
}

.list-group-item.active:hover {
    background-color: #98767E;
    color: #eeeeee;
    border-color: #9FAB97;
}

.list-group-item.active:hover a{
    color: #eeeeee;
}

.list-group-item.hover a{
    color: #98767E;
}


a:focus, a:hover {
    color: #98767E;
    text-decoration: underline;
}

.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }


.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }

.main-image {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.resized-image {
    text-align: center;
    width: 100%;
}

img.record-main-image {
    max-height: 700px;
    max-width: 100%;
}

div.resized-image img.record-main-image {
    max-height: 400px;
    max-width: 100%;
}

div.related {
    margin-top: 20px;

}

.related-title
{
    background-color: #333333;
    color: #ffffff;
    padding: 2px;
}

.page-header {
    margin: 0 0 10px;
}

.wide {
    width: 100%;
}
.wide a{
    color: #ffffff;
}

.wide a:hover{
    color: #9FAB97;
    background-color: #eeeeee;
}

.content{
    margin-top: 10px;
}

.jumbotron {
    background: url(../images/guitar.png) no-repeat 0 0;
    background-color: #9FAB97;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 100;
}

.jumbotron p {
    font-weight: 100;
}

.jumbotron_sml {
    margin: -10px 0;
    padding: 0 15px;
}

.jumbotron_sml p {
    font-size: 14px;
    font-weight: normal;
}

.bg-primary {
    background-color: #9FAB97;
}

.btn-primary {
    background-color: #9FAB97;
    border-color: #eeeeee;
}

.btn-primary:hover {
    background-color: #eeeeee;
    color: #9FAB97;
    border-color: #eeeeee;
}
.text-primary {
    color: #9FAB97;
}

a {
    color: #9FAB97;
}

.pagination > .active > span {
    background-color: #9FAB97;
    color: #ffffff;
    border-color: #ffffff;
}


.pagination > .active > span.hover {
    background-color: #98767E;
    color: #ffffff;
    border-color: #ffffff;
}

.pagination > li > a {
    color: #9FAB97;
}

.record-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.feedback_form {
    margin-bottom: -50px;
}

.feedback_form h1 {
    font-size: 18px;
    color: #9FAB97;
}

.feedback_form label {
    display: block;
    width: 100px;
}
label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

.feedback_form input[type="text"] {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    height: 28px;
    padding: 0 10px;
    width: 100%;
    max-width: 500px;
}

#feedback {
    border: 1px solid #bbbbbc;
    border-radius: 5px;
    font-size: 13px;
    padding: 0 10px;
    width: 100%;
    max-width: 500px;
}

input.btn {
    background: #9FAB97 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin-left: 8px;
    padding: 0 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

div.spacer {
    height: 20px;
}

.related-image {
    width: 100%;
    text-align: center;
}

.related-xs {
    max-width: 100%;
}

.tab-content dl {
    padding-top: 5px;
}

.tab-content dl dd {
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.tab-content dd:last-child {
    padding-bottom: 0;
    border: none;
}

.nav > li > i.fa-inactive {
    display: block;
    padding: 15px 15px;
    position: relative;
    color: #dddddd;
}

.record-tabs > ul > li > a > i.fa-inactive {
    color: #dddddd;
}
.record-tabs > ul > li > a.inactive {
    color: #dddddd;
}


.tags > li.active > a,
.tags > li.active > a:focus,
.tags > li.active > a:hover{
    position: relative;
    display: block;
    padding: 5px 5px;
    background: #eeeeee;
    color: #9FAB97;
}

.tags > li.active > a:hover {
    background: #9FAB97;
    color: #ffffff;
}

@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}

.record_bitstreams
{
    padding-top: 2px;
}

/* ---- grid for related items---- */

.grid {
    background: #ffffff;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 150px;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.thumbnail {
    border:0;
}


