/*
    Author:     Kristiyan Tsvetanov
    Start date: 16.02.2017
    Contact:    kristiyan.c@gmail.com
*/

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.container{
    widht:100%;
    padding: 0px;
    width:100%;
}

/*Header, move to header.css when ready*/
.navbar{
    background-color: white;
    border-radius: 0;
    background-color: rgba(8,68,102, 0.9);
}

.navbar-toggle span{
    background-color: white !important;
}

#myNavbar a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

#myNavbar a:hover{
    background-color: transparent;
}

/*Header for desktop, includes animation when scrolling*/
@media screen and (min-width: 768px) {
    .navbar{
        height: 120px;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background-color: rgba(8,68,102, 0.9);
    }
    .navbar.shrink{
        height:40px;
        background-color: rgba(8,68,102, 0.6);
    }
    .navbar .navbar-brand{
        margin: 5px 0px 0px 0px;
        background: url("../images/logo.png") center/150px 115px no-repeat;
        height: 115px;
        width: 150px;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    .navbar.shrink .navbar-brand{
        margin-left:20px;
        background: url("../images/logo.png") center/53px 40px no-repeat;
        height: 40px;
        width: 53px;
    }
    .dropdown-menu{
        background-color: rgba(102, 147, 176, 0.8);
    }
}

/* Header for mobile*/
@media screen and (max-width: 768px) {
    .navbar-brand{
        width: 60px;
        background: url("../images/logo.png") center/100% no-repeat;
    }
    .navbar-toggle{
        color: white;
        z-index: 100;
    }
}

/* Underline From Center */
#myNavbar a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
#myNavbar a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: rgb(102, 147, 176);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#myNavbar a:hover:before, #myNavbar a:focus:before, #myNavbar a:active:before {
    left: 0;
    right: 0;
}
/* Shutter Out Horizontal */
#myNavbar a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#myNavbar a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(102, 147, 176);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#myNavbar a:hover, #myNavbar a:focus, #myNavbar a:active {
    color: #fff;
    background-color: transparent;
}
#myNavbar a:hover:before, #myNavbar a:focus:before, #myNavbar a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open>a:focus, .navbar-default .navbar-nav > .open > a:active {
    background: none;
    color: #555;
}

/*Add parallax effect when you have images*/
.footer{
    height:600px;
    background-color: rgb(8, 62, 102);
    color:white;
    padding-top: 20px;
}

.footer .pull-bottom{
    margin-bottom: 0px;
}

.footer ul{
    margin-top: 20px;
}

.footer li{
    list-style: none;
}

.footer a{
    color: rgb(102, 147, 176);
}


/*Index parallax effect*/
.parallax {
    /* The image used */
    background-image: url('../images/parallax1.jpg');

    /* Full height */
    min-height:500px;
    width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}