
/** added for UoE */
.footer ul
    {
    margin-top: 10px;
    list-style-type: none;
}

.footer a{
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover{
    color: #eeeeee;
    text-decoration: underline;
}

.footer .nav { display: inline-block; }

.footer .nav a:hover{
    color: #556D80;
    background-color: #eeeeee;
}

.results-item {
    margin-bottom: 25px;
}

.uoelogo  { display: block;
    width: 40px;
    height: 38px;
    float: left;
    background: url(../images/UoETransparent.png) no-repeat 0 0;
    margin-top: -5px;}

.uoename  { display: block;
    width: 235px;
    height: 24px;
    float: left;
    background: url(../images/uoenamesml.png) no-repeat 0 0;
    margin-left: 3px;}

.list-group-item.active a, .list-group-item.active:focus a, .list-group-item.active:hover a {
    color: #FFF;
}


.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }

.main-image {
    max-width: 100%;
    max-height: 100%;
}

div.resized-image img.record-main-image {
    width: 100%;
}

div.related {
    margin-top: 20px;
}

.page-header {
    margin: 0 0 10px;
}

.wide {
    width: 100%;
}
.wide a{
    color: #ffffff;
}

.wide a:hover{
    color: #70889B;
    background-color: #eeeeee;
}

.content{
    margin-top: 10px;
}

.jumbotron {
    background: url(../images/0023123c-bkg-1140v2.png) no-repeat 0 0;
    background-color: #556D80;
    color: #ffffff;
}

.jumbotron_sml p{
    font-size: 14px;
    font-weight: normal;
}

.bg-primary {
    background-color: #556D80;
}

.btn-primary {
    background-color: #556D80;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #eeeeee;
    color: #556D80;
    border-color: #ffffff;
}

.list-group-item.active {
    background-color: #556D80;
    border-color: #556D80;
}

.list-group-item.active:hover {
    background-color: #eeeeee;
    color: #556D80;
    border-color: #556D80;
}

.list-group-item.active:hover a{
    color: #556D80;
}

.text-primary {
    color: #556D80;
}

a {
    color: #556D80;
}

.pagination > .active > span {
    background-color: #556D80;
    color: #ffffff;
}

.pagination > li > a {
    color: #556D80;
}





