@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.clickbox {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
    max-height:300px;
    background: #000000;
    text-align: left;
	
}
figure.clickbox * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.clickbox img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.clickbox > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.clickbox > div::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    background-image: linear-gradient(-45deg, #000000 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8));
}
figure.clickbox h2 {
    word-spacing: -0.1em;
    font-weight: 400;
    text-transform: uppercase;
    top: 0;
    opacity: 1;
    padding: 25px;
    margin: 0;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 10px #333;
}
figure.clickbox h2 span {
    font-weight: 800;
}

figure.clickbox h2 span.longword {
    font-size: 90%;
}

figure.clickbox i {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

figure.clickbox i.ion-arrow-right-c,
figure.clickbox i.ion-arrow-down-c {
    padding: 6px 16px;
    bottom: 0px;
    right: 0px;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

figure.clickbox i.fa {
    padding: 16px 16px;
    bottom: 0px;
    left: 0px;
}

figure.clickbox .curl {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.clickbox .curl:before,
figure.clickbox .curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12%;
    bottom: 6%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(-10deg) rotate(-6deg);
}
figure.clickbox .curl:after {
    left: auto;
    right: 6%;
    bottom: auto;
    top: 14%;
    transform: skew(-15deg) rotate(-84deg);
}
figure.clickbox a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.clickbox:hover > div h2,
figure.clickbox.hover > div h2 {
    opacity: 1;
    text-shadow: 0 0 0px #333;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.clickbox:hover > div::before,
figure.clickbox.hover > div::before {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.clickbox:hover i,
figure.clickbox.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
figure.clickbox:hover .curl,
figure.clickbox.hover .curl {
    width: 90px;
    height: 90px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
